.App {
  text-align: left;
}

.footer-link {
  all: unset;
  cursor: pointer;
}

.footer-link:hover {
  all: unset;
  cursor: pointer;
  color: lightgray;
}

.my-picture-container {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid black;
}

.my-picture {
  width: 175%;
  margin: -80px 0 0 -110px;
}

.footer-text {
  color: white;
}

@media only screen and (max-width: 480px) {
  .App {
    text-align: center;
  }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {
  .App {
    text-align: center;
    justify-content: space-evenly;
  }
}